<% include ./partials/header %>

<h1>Welcome to the main page</h1>

<a href="/list">Check To dos</a>


<div>
    <p><a href="/register">Register</a></p>
    <p><a href="/login">Log in</a></p>
</div>

<% include ./partials/footer %>