<% include ./partials/header %>

<div class="jumbotron jumbotron-fluid text-center">
    <h1 class="display-4">You need an app to keep track of what you have to do?</h1>
    <div class="lead">Well look no further, register and get started adding items to your to do list!</div>
    <a href="/register" class="btn btn-lg btn-primary">Register</a>
    <hr class="my-3">
    <p>Or if you already have an account sign in.</p>
    <a href="/login" class="btn btn-lg btn-primary">Sign in</a>
</div>


<% include ./partials/footer %>