<% include ../partials/header %>

<h1>Add new item</h1>

<form action="/list" method="post">
    <input type="text" name="text" placeholder="item">
    <input type="Submit" value="Add item">
</form>

<% include ../partials/footer %>