<% include ../partials/header %>

<h1>Lists page</h1>

<ul>
    <% users.forEach(function(user){ %>
    <li><%= user.toDo %></li>
    <% }) %>
</ul>

<a href="/logout">Logout</a>

<% include ../partials/header %>