<% include ../partials/header %>



<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card border-primary mb-3" id="list-card ">
            <div class="card-header">To do items for <%=currentUser.username%></div>
            <form action="/list" method="post">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Add new to-do"
                        aria-label="Add item" aria-describedby="basic-addon2" name="text" required>
                    <div class="input-group-append">
                        <input class="btn btn-outline-primary" type="submit">
                    </div>
                </div>
            </form>
            <div class="card-body">
                <ul>
                    <% user.items.forEach(function(list) { %>
                    <li class="">
                        <%= list.text %>
                    </li>
                    <a class="btn btn-sm btn-primary" href="/list/<%=list._id %>/edit">Edit</a>
                    <form action="/list/<%=list._id%>?_method=DELETE" method="post" style="display:inline">
                        <button class="btn btn-sm btn-danger float-right">Delete</button>
                    </form>
                    <hr>
                    <% }) %>
                </ul>
            </div>
        </div>
    </div>
</div>






<% include ../partials/footer %>