<% include ../partials/header %>

<h1>Lists page</h1>

<ul>
    <% user.items.forEach(function(list) { %>
        <li><%= list.text %></li>
    <% }) %>

</ul>

<a href="/logout">Logout</a>

<% include ../partials/header %>