<% include ../partials/header %>

<div class="row ">
    <div class="col-md-6 mx-auto">
        <div class="card border-primary mb-3" id="list-card ">
            <div class="card-header">To do items for <%=currentUser.username%></div>
            <div class="card-body">
                <div class="">
                    <% user.items.forEach(function(list) { %>
                    <li>
                            <!--This will be added after jQuerry is implemented for changing the class <i class="far fa-check-circle"></i> <%= list.text %> -->
                    </li>
                    <a class="btn btn-sm btn-primary" href="/list/<%=list._id %>/edit">Edit</a>
                    <form action="/list/<%=list._id%>?_method=DELETE" method="post" style="display:inline">
                        <button class="btn btn-sm btn-danger float-right">Delete</button>
                    </form>
                    <hr>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</div>

<h1>Add new item</h1>

<form action="/list" method="post">
    <input type="text" name="text" placeholder="item">
    <input type="Submit" value="Add item">
</form>


<% include ../partials/footer %>